numpy==1.15.1
pytest==3.8.0 
ipython[notebook]==5.8.0
scipy==1.1.0
bs4==0.0.1
scikit-learn==0.19.2
boto3==1.9.4
requests==2.18.4
matplotlib==2.2.3
cython==0.28.5
ipdb==0.11
scikit-image==0.14.0
moviepy==0.2.3.5
tqdm==4.26.0
dlib
imutils